<h1 class="title">Ventas</h1>
<div class="container-table">
  <div class="card">
    <p-table #dt [columns]="columns" [value]="sales" [globalFilterFields]="['name','laboratory','expiration','manufacture']"
    [rows]="10" [paginator]="true" [tableStyle]="{ 'min-width': '75rem' }" [rowHover]="true" dataKey="id" currentPageReportTemplate="Mostrando  {first} a {last} de {totalRecords} entradas"
    [showCurrentPageReport]="true">
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText placeholder="Buscador" (input)="dt.filterGlobal($event.target, 'contains')" />
          </span>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name" *ngFor="let col of columns">
            {{ col.header }}
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns; index as i">
            {{ rowData[col.field] }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
