.container-table {
  margin: 50px 10%;
}

.card {
  border-radius: 10px;
  border: 1px solid #013270;
  padding: 10px;
}

.title {
  text-align: center;
  margin-top: 60px;
  font-size: 32px;
  color: #013270;
}

.container-form {
  display: flex;
  justify-content: space-evenly;
}

.rows > span,
div {
  margin: 15px 0;
}

.table-body-button {
  display: flex;
  justify-content: space-between;
}
