<h1 class="title">Dispensario</h1>
<div class="container-table">
  <div class="card">
    <p-toolbar styleClass="mb-4 gap-2">
      <ng-template pTemplate="left">
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-plus"
          label="Nuevo"
          class="p-button-success"
          (click)="showDialog()"
        ></button>
      </ng-template>
    </p-toolbar>
    <p-table #dt>
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText placeholder="Buscador" />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name">
            Nombre
            <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pSortableColumn="laboratory">
            Laboratorio
            <p-sortIcon field="laboratory"></p-sortIcon>
          </th>
          <th pSortableColumn="manufacture-date">
            Fecha de fabricación
            <p-sortIcon field="manufacture-date"></p-sortIcon>
          </th>
          <th pSortableColumn="expiration-date">
            Fecha de vencimiento
            <p-sortIcon field="expiration-date"></p-sortIcon>
          </th>
          <th pSortableColumn="quantity ">
            Cantidad
            <p-sortIcon field="quantity "></p-sortIcon>
          </th>
          <th pSortableColumn="value">
            Valor
            <p-sortIcon field="value"></p-sortIcon>
          </th>
          <th>Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>acetaminofen</td>
          <td>farmaco</td>
          <td>22/22/22</td>
          <td>22/22/23/</td>
          <td>10</td>
          <td>1.0000</td>
          <td>
            <button
              pButton
              pRipple
              icon="pi pi-pencil"
              class="p-button-rounded p-button-success"
            ></button>
            <button
              pButton
              pRipple
              icon="pi pi-trash"
              class="p-button-rounded p-button-warning"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <p-dialog header="Nuevo medicamento" [(visible)]="display" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false" class="dialog-header">
    <!-- <form (ngSubmit)="onData()" #myForm="ngForm"> -->
      <div class="container-form">
        <div class="rows">
          <span class="p-float-label">
            <input id="name" type="text" pInputText [(ngModel)]="data.name"/>
            <label for="name">Nombre</label>
          </span>
          <span class="p-float-label">
            <input id="laboratory" type="text" pInputText  [(ngModel)]="data.laboratory"/>
            <label for="laboratory">Laboratorio</label>
          </span>
        </div>
        <div class="rows">
          <div class="p-float-label">
            <p-calendar [showIcon]="true" inputId="icon" placeholder="Fecha de fabricación" for="manufacture" [(ngModel)]="data.manufacture"></p-calendar>
          </div>
          <div class="p-float-label">
            <p-calendar [showIcon]="true" inputId="icon" placeholder="Fecha de vencimiento" for="expiration" [(ngModel)]="data.expiration"></p-calendar>
          </div>
        </div>
          <div class="rows">
            <div class="p-float-label">
              <p-inputNumber [showButtons]="true" inputId="stacked" mode="currency" currency="COP" placeholder="Cantidad" for="quantity" [(ngModel)]="data.quantity">
              </p-inputNumber>
          </div>
          <div class="p-float-label">
            <p-inputNumber mode="decimal" [showButtons]="true" inputId="minmax-buttons" [min]="0" [max]="100" placeholder="Valor" for="value" [(ngModel)]="data.value">
            </p-inputNumber>
          </div>
        </div>
      </div>
      <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="display = false"  label="Ingresar" styleClass="p-button-success" type="submit"></p-button>
        <p-button icon="pi pi-times" (click)="display = false" label="No ingresar" styleClass="p-button-danger" type="button"></p-button>
      </ng-template>
      <!-- </form> -->
  </p-dialog>
</div>
