<h1 class="title">Dispensario</h1>
<div class="container-table">
  <div class="card">
    <div class="container-btn">
      <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
          <button pButton pRipple type="button" icon="pi pi-plus" label="Agregar Medicamentos" class="p-button-success"
            (click)="showModalCreateEdit(null)"></button>
        </ng-template>
      </p-toolbar>
      <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
          <button pButton pRipple type="button" icon="pi pi-search" label="Consultar" class="p-button-info"
            (click)="view()"></button>
        </ng-template>
      </p-toolbar>
    </div>
    <!-- <input type="search" pInputText placeholder="Buscar" (input)="dt1.filterGlobal($event.target ,'contains')"> -->
    <p-table #dt1 [columns]="columns" [value]="dispensarys" *ngIf="dispensarys.length > 0"
      [globalFilterFields]="['name','laboratory','expiration','manufacture']" [rows]="10" [paginator]="true"
      [tableStyle]="{ 'min-width': '75rem' }" [rowHover]="true" dataKey="id"
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
      [showCurrentPageReport]="true">

      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name" *ngFor="let col of columns">
            {{ col.header }}
          </th>
          <th>Acciones</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns; index as i">
            {{ rowData[col.field] }}
          </td>
          <td class="table-body-button">
            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-info"
            (click)="showModalCreateEdit(rowData)"></button>
            <button pButton pRipple icon="pi pi-dollar" class="p-button-rounded p-button-info"
            (click)="showDialogSell(rowData)"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-info"
            (click)="deleteDrug(rowData)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <div class="card" *ngIf="dispensarys.length == 0">
      <p-messages [(value)]="messages" [closable]="false" />
  </div>

  </div>

<!-- Modal para Crear y Editar -->
  <p-dialog header= " {{titleModel}}​ Medicamento" [(visible)]="displayCreate" [modal]="true" [style]="{ width: '50vw' }"
    [draggable]="false" [resizable]="false" class="dialog-header">
    <form [formGroup]="DispensaryForm">
      <div class="container-form">
        <div class="rows">
          <span class="p-float-label">
            <input id="name" type="text" pInputText name="name" formControlName="name" />
            <label for="name">Nombre del medicamento</label>
          </span>
          <span class="p-float-label">
            <input id="laboratory" type="text" pInputText name="laboratory" formControlName="laboratory" />
            <label for="laboratory">Laboratorio</label>
          </span>
        </div>
        <div class="rows">
          <div class="p-float-label">
            <p-calendar [showIcon]="true" inputId="icon" placeholder="Fecha de fabricación" for="manufacture"
              name="manufacture" formControlName="manufacture"></p-calendar>
              <label for="name">Fecha de Fabricación</label>
          </div>
          <div class="p-float-label">
            <p-calendar [showIcon]="true" inputId="icon" placeholder="Fecha de vencimiento" for="expiration"
              name="expiration" formControlName="expiration"></p-calendar>
              <label for="name">Fecha de Vencimiento</label>
          </div>
        </div>
        <div class="rows">
          <div class="p-float-label">
            <p-inputNumber mode="decimal" [showButtons]="true" inputId="minmax-buttons" [min]="0" [max]="100"
              placeholder="Cantidad" for="stock" name="stock" formControlName="stock">
            </p-inputNumber>
            <label for="name">Cantidad en Stock</label>
          </div>
          <div class="p-float-label">
            <p-inputNumber [showButtons]="true" inputId="stacked" mode="currency" currency="COP" placeholder="Valor"
              for="quantity" name="value" formControlName="value">
            </p-inputNumber>
            <label for="name">Valor Unitario</label>
          </div>
        </div>
      </div>
    </form>
    <ng-template pTemplate="footer">
      <p-button icon="pi pi-times" (click)="displayCreate = false" label="Cancelar" styleClass="p-button-danger" type="button"></p-button>
      <p-button icon="pi pi-check" (click)="showDialogCreateEdit()" label="Guardar" [disabled]="DispensaryForm.valid" styleClass="p-button-success" type="submit"></p-button>
    </ng-template>
  </p-dialog>

  <!-- Dialogo de validación -->
  <p-dialog header="{{titleDialog}}" [(visible)]="displayValidateCreate" [modal]="true">
  <div>
    <p>{{message}}</p>
  </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-times" (click)="displayValidateCreate = false" label="Cancelar" styleClass="p-button-danger" type="button"></p-button>
    <p-button icon="pi pi-check" (click)="createOrEdit()" label="Aceptar" [disabled]="DispensaryForm.valid" styleClass="p-button-success" type="submit"></p-button>
  </ng-template>
  </p-dialog>

  <!-- Modal para Vender  -->
  <p-dialog header="Vender Medicamento" [(visible)]="displaySell" [modal]="true" [style]="{ width: '50vw' }"
  [draggable]="false" [resizable]="false" class="dialog-header">
  <div class="container">
    <div class="container-info-sell">
      <p>Nombre del medicamento: {{name}}</p>
      <p>Valor Unitario: {{value}}</p>
      <p>Cantidad en Stock: {{stock}}</p>
    </div>
    <div class="container-stock">
      <form [formGroup]="SalesForm">
        <div class="p-float-label">
          <p-inputNumber mode="decimal" [showButtons]="true" inputId="minmax-buttons" [min]="0" [max]="100"
          placeholder="Cantidad" for="quantity" name="quantity" formControlName="quantity">
        </p-inputNumber>
        <label for="name">Cantidad</label>
        </div>
      </form>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-times" (click)="displaySell = false" label="Cancelar" styleClass="p-button-danger" type="button"></p-button>
    <p-button icon="pi pi-check" (click)="displayValidateSell = true" label="Vender" [disabled]="DispensaryForm.valid" styleClass="p-button-success" type="submit"></p-button>
  </ng-template>
</p-dialog>

  <!-- Dialogo de validación -->
  <p-dialog header="Guardar" [(visible)]="displayValidateSell" [modal]="true">
    <div>
      <p>¿Está seguro de que  desea vender el medicamento?</p>
    </div>
    <ng-template pTemplate="footer">
      <p-button icon="pi pi-times" (click)="displayValidateSell = false" label="Cancelar" styleClass="p-button-danger" type="button"></p-button>
      <p-button icon="pi pi-check" (click)="sellDrug()" label="Aceptar" [disabled]="DispensaryForm.valid" styleClass="p-button-success" type="submit"></p-button>
    </ng-template>
    </p-dialog>

  <p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'1000ms'" [hideTransitionOptions]="'1000ms'" [showTransformOptions]="'translateX(100%)'"></p-toast>
</div>
